*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Pacifico', cursive; */
}

.deco{
    width: 27px;
    height: 9px;
    background: linear-gradient(96.34deg, #E537B9 0%, #C040DF 100%);
    border-radius: 4.5px;
}

.navbar-brand{
    font-size: 23px !important;
    font-weight: 600 !important;
    line-height: 24px !important;
}